# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.Python

# IDEs
.idea/
.vscode/

# Runtime artifacts
artifacts/
reports/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
